<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="ShopHeader">
  <h1><a th:href="@{/}">Shpe</a></h1>
  <nav>
    <ul>
      <li><a href="#koszyk">Koszyk</a></li>
      <li><a th:if="${loginStatus} == logged" th:href="@{/account}">Account</a></li>
      <li><a th:if="${loginStatus} == logged" th:href="@{/sign-out}">Sign out</a></li>
      <li><a th:if="${loginStatus} != logged" th:href="@{/sign-in}">Sign in</a></li>
      <li><a th:if="${loginStatus} != logged" th:href="@{/signup}">Sign up</a></li>
    </ul>
  </nav>
</header>
</body>
</html>