<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header th:replace="~{fragments/header :: ShopHeader}"></header>

<div class="container">
    <div class="product-list">
        <div class="product">
            <img alt="Here will be icon ;)">
            <a th:href="@{/settings}">Settings</a>
        </div>

        <div th:if="${session.role} == ADMIN" class="product">
            <img alt="Here will be icon ;)">
            <a th:href="@{/add-user}">Create user</a>
        </div>

        <div th:if="${session.role} == ADMIN" class="product">
            <img alt="Here will be icon ;)">
            <a th:href="@{/edit-user}">Edit user</a>
        </div>

        <div class="product">
            <img alt="Here will be icon ;)">
            <a th:href="@{#}">History</a>
        </div>

        <div class="product">
            <img alt="Here will be icon ;)">
            <a th:href="@{#}">Favorites</a>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer :: ShopFooter}"></footer>
</body>
</html>