<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring shop</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header th:replace="~{fragments/header :: ShopHeader}"></header>

<div class="container">
    <div class="product-list">
        <div class="product" th:each="product : ${products}">
            <h3 th:text="${product.name}"></h3>
            <p th:text="${product.description}"></p>
            <span>Cena: </span>
            <p th:text="${product.price}"></p>
            <span>Dostępne: </span>
            <p th:text="${product.quantity}"></p>
            <a th:if="${session.status} == logged">Dodaj do koszyka</a>
            <a th:if="${session.status} != logged" th:href="@{/sign-in}">Zaloguj się, aby dodać do koszyka</a>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer :: ShopFooter}"></footer>
</body>
</html>