<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Spring shop</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
<!--  <script>
    function getCookie(name) {
      return document.cookie.split('; ').reduce((r, v) => {
        const parts = v.split('=')
        return parts[0] === name ? decodeURIComponent(parts[1]) : r
      }, '')
    }

    function display_username() {
      const username = getCookie('welcome');
      if (username) {
        document.getElementById("welcometext").innerHTML = "Welcome " + username + "!";
      }
    }
  </script>-->
</head>
<body>
<!--<header th:fragment="ShopHeader">
  <h1><a th:href="@{/}">Shpe</a></h1>
  <nav>
    <ul>
      <li><a href="#koszyk">Koszyk</a></li>
      <li><a th:if="${loginStatus} == logged" th:href="@{/signin}">Wyloguj</a></li>

    </ul>
  </nav>
</header>-->
<header th:replace="~{fragments/header :: ShopHeader}"></header>
<h1 th:text="${user}"></h1>
<p th:text="${password}"></p>

<!--<button onclick="display_username()">Click me</button>-->

<footer th:replace="~{fragments/footer :: ShopFooter}"></footer>
</body>
</html>