<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order details</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/order.css">
</head>
<body>
<header th:replace="fragments/header :: ShopHeader"></header>

<div class="main-content">
    <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">
        <table>
            <tr>
                <th style="width: 50px;"></th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Sum</th>
            </tr>
            <tr th:each="cartProduct : ${@cart.cartProducts}">
                <td>
                    <a th:href="@{'/product/' + ${cartProduct.product.name}}">
                        <img th:src="${cartProduct.product.image}" alt="img">
                    </a>
                </td>
                <td>
                    <a th:href="@{'/product/' + ${cartProduct.product.name}}" th:text="${cartProduct.product.name}"></a>
                </td>
                <td style="display: flex; padding-top: 10px">
                    <p th:text="${cartProduct.counter}"></p>
                </td>
                <td th:text="${cartProduct.price}"></td>
            </tr>
        </table>

        <div class="summary">
            <p><span>To pay:</span><span th:text="${@cart.sum}"></span>PLN</p>
        </div>
    </div>
</div>


<h3>Delivery data:</h3>
<div class="registration-form">
    <form th:action="@{/order/orderdetails}" method="post">
        <label for="firstName">Name</label>
        <input id="firstName" type="text" name="firstName" >
        <label for="lastName">Surname</label>
        <input id="lastName" type="text" name="lastName" required>
        <label for="phoneNumber">Phone number</label>
        <input id="phoneNumber" type="text" name="phoneNumber" required>
        <label for="address">Address</label>
        <input id="address" type="text" name="address" required>
        <label for="postCode">Post code</label>
        <input id="postCode" type="text" name="postCode" required>
        <label th:if="${error}" for="city">City</label>
        <input th:if="${error}" id="city" type="text" name="city" required>
        <label th:if="${error}" for="country">Country</label>
        <input th:if="${error}" id="country" type="text" name="country" required>
        <span th:if="${error}"  th:text="${error}" style="color: red"></span>
        <button type="submit" class="add-btn">Next</button>
    </form>
</div>

</body>
</html>