<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header th:replace="~{fragments/header :: ShopHeader}"></header>

<div class="registration-form">
    <h2>Sign in</h2>
    <form th:action="@{/sign-in}" method="post">
        <label for="email">Email address:</label>
        <input type="email" id="email" name="email" required><!-- tutaj było email wszędzie -->

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Sign in</button>
    </form>
    <span th:if="${errorMessage}"  th:text="${errorMessage}" style="color: red"></span>
</div>

<footer th:replace="~{fragments/footer :: ShopFooter}"></footer>
</body>
</html>